@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

body {
  background: #f7f7f9;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navibar {
  background: #ffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}

.navibar .nav-container {
  place-content: space-between;
  display: flex;
  padding-right: 10px;
}

.navibar .logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.h-container {
  background-image: url("./img/header-shapes-mobile.png"),
    url("../img/header-background-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100% 100%;
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 25px;
  padding-right: 24px;
  align-items: center;
}

.first-text {
  position: static;
  width: 60%;
  left: 24px;
  top: 114px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  align-items: center;
}

.h-container .second-text {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.h-container .icon {
  position: static;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.h-container .icon-img {
  padding-left: 0;
  justify-content: flex-start;
  gap: 28px;
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.h-container ul {
  list-style: none;
}
